/*
  * RESET ***
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
}
ul{list-style-type:none; list-style-position:outside}
ol{list-style-position:outside}
blockquote, q{quotes:none;}
blockquote:before, blockquote:after, q:before, q:after{content: ''; content:none;}
:focus{outline:0;}
ins{text-decoration:none;}
del{text-decoration:line-through;}
table{border-collapse:collapse; border-spacing:0;}

/*
  * CONTAINERS ***
*/

body{font-size:13px; line-height:23px;}
	.wrap_fullwidth{width:100%; position:relative; float:left; clear:both; /*background-color:#ddd;*/}
	.center{width:940px; position:relative; margin:0 auto; clear:both; padding:0px 10px; /*overflow:hidden;*//*auto;*/ /*background-color:#fff;*/}
	.wrap_content{width:100%; position:relative; clear:both; float:left;}

/*
  * LISTS ***
*/

.none_list a, 
.none_list span,
.arrows_list a, 
.arrows_list span,
.circles_list a, 
.circles_list span,
.check_list a, 
.check_list span{
	display:block;
	height:auto !important;
 	height:18px;
}
	.none_list a, .none_list span { padding:2px 0px 2px 0px; }
	.none_list ul a, .none_list ul span { padding-left:15px; }
	.none_list ul ul a, .none_list ul ul span { padding-left:25px; }
	.none_list ul ul ul a, .none_list ul ul ul span { padding-left:35px; }
	.none_list ul ul ul ul a, .none_list ul ul ul ul span { padding-left:45px; }

	.arrows_list li{ background-position:0px 9px; background-repeat:no-repeat;}
	.arrows_list ul li{ background-position:10px 9px; }
	.arrows_list ul ul li{ background-position:20px 9px; }
	.arrows_list ul ul ul li{ background-position:30px 9px; }
	.arrows_list ul ul ul ul li{ background-position:40px 9px; }
	.arrows_list a, .arrows_list span { padding:2px 0px 2px 15px; }
	.arrows_list ul a, .arrows_list ul span { padding-left:25px; }
	.arrows_list ul ul a, .arrows_list ul ul span { padding-left:35px; }
	.arrows_list ul ul ul a, .arrows_list ul ul ul span { padding-left:45px; }
	.arrows_list ul ul ul ul a, .arrows_list ul ul ul ul span { padding-left:55px; }

	.circles_list li{ background-position:0px 9px; background-repeat:no-repeat;}
	.circles_list ul li{ background-position:10px 9px; }
	.circles_list ul ul li{ background-position:20px 9px; }
	.circles_list ul ul ul li{ background-position:30px 9px; }
	.circles_list ul ul ul ul li{ background-position:40px 9px; }
	.circles_list a, .circles_list span { padding:2px 0px 2px 15px; }
	.circles_list ul a, .circles_list ul span { padding-left:25px; }
	.circles_list ul ul a, .circles_list ul ul span { padding-left:35px; }
	.circles_list ul ul ul a, .circles_list ul ul ul span { padding-left:45px; }
	.circles_list ul ul ul ul a, .circles_list ul ul ul ul span { padding-left:55px; }

	.check_list li{ background-position:0px 9px; background-repeat:no-repeat;}
	.check_list ul li{ background-position:10px 9px; }
	.check_list ul ul li{ background-position:20px 9px; }
	.check_list ul ul ul li{ background-position:30px 9px; }
	.check_list ul ul ul ul li{ background-position:40px 9px; }
	.check_list a, .check_list span { padding:2px 0px 2px 15px; }
	.check_list ul a, .check_list ul span { padding-left:25px; }
	.check_list ul ul a, .check_list ul ul span { padding-left:35px; }
	.check_list ul ul ul a, .check_list ul ul ul span { padding-left:45px; }
	.check_list ul ul ul ul a, .check_list ul ul ul ul span { padding-left:55px; }


/*
  * LAYOUT BOXES ***
*/

.box_one_half,
.box_one_fourth,
.box_three_fourth,
.box_two_third,
.box_one_third,
.box_one_sixth,
.box_fullwidth
{float:left; margin:0px 20px 10px 0px; padding:10px; position:relative; /*background-color:#bbb;*/}

.box_one_half{ width:440px; /*background-color:#bbb;*/ }
.box_one_third{ width:280px; /*background-color:#bbb;*/}
.box_two_third{ width:600px; /*background-color:#bbb;*/}
.box_one_fourth{ width:200px; }
.box_one_sixth{ width:120px; }
.box_three_fourth{ width:680px; }
.box_fullwidth{ width:920px; }


#grid .box_one_third{ width:273px; /*background-color:#bbb;*/}


/*
  * IMAGES ***
*/

.box_one_third img{ max-width:280px; }

/*
  * EXTRAS CLASSES ***
*/

.clear_margin{margin:0px;}
.last{margin-right:0px;}

.aligncenter{display:block; margin:0px auto;}
.alignleft{float:left; margin:0px 12px 0px 0px; padding:0px;}
.alignright{float:right; margin:0px 0px 0px 12px; }

